version: "3.9"
services:
  app:
    image: naumenkonikita/devops-for-programmers-project-lvl1
    container_name: devops-project-app
    build:
      context: .
      dockerfile: Dockerfile.production
    command: make test
    env_file: ./.env.example
    depends_on:
      - db

  db:
    image: postgres:11
    env_file: ./.env.example
